<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style -->
    <link rel="stylesheet" href="/bootstrap.min.css">
    <!-- link icon -->
    <link rel="stylesheet" href="/font/bootstrap-icons.min.css">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Danh sách sản phẩm</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/home.css">

</head>
<body>
<div class="notifi-mes">
    Order <strong>before 1pm</strong> for same day delivery
</div>

<div th:insert="navbar :: navbar" style="background-color: white"></div>

<div class="px-5 py-5" style="background-color: rgb(234, 234, 234);">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid border rounded" id="product-img" />
        </div>
        <div class="col-md-6" style="background-color: white; padding-left: 100px; padding-right: 100px">
            <h1 class="product-title py-5" id="product-name"></h1>
            <p class="product-price" id="product-price" style="font-size: 20px"></p>
            <div class="flower-description">
                <div class="product-option">
                    <label for="size">Size</label>
                    <select id="size">
                        <option>Standard</option>
                        <option>Large</option>
                    </select>
                </div>
                <div class="quantity-add">
                    <select class="quantity-select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
                <div id="product-des" class="my-5">
                </div>
        </div>
    </div>

    </div>
</div>

<script >
    const path = window.location.pathname;
    const  parts = path.split("/");

    const productId = parts[parts.length - 1];

    fetch(`/api/products/${productId}`)
        .then(response => {
            if(!response.ok){
                throw new Error("loi");
            }
            return response.json();
        })
        .then(product =>{
            document.getElementById("product-img").src = product.imageUrl;
            document.getElementById("product-name").textContent = product.name;
            document.getElementById("product-price").textContent = `${product.price.toLocaleString('vi-VN')} VND`;
            // Thay đổi mô tả để hỗ trợ xuống dòng
            const formattedDescription = product.description.replace(/\n/g, "<br>");
            document.getElementById("product-des").innerHTML = formattedDescription;
        
        })
        .catch(error =>{
            console.log("loi", error);
        });

</script>

</body>

<footer th:insert="asset :: footer">

</footer>

</html>

