<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- style -->
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <!-- link icon -->
    <link rel="stylesheet" href="/font/bootstrap-icons.min.css" />
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap" rel="stylesheet"> -->

    <link rel="stylesheet" href="/style.css" />

    <title>Our Store</title>
  </head>
  <body>
    <div class="div0">
      <p>
        Order
        <strong>before 1pm</strong>
        for same day delivery!
      </p>
    </div>

    <div th:insert="navbar :: navbar"></div>

    <!-- header -->
    <div>
      <ul class="pt-5 pb-5 list-unstyled color-custom text-white mb-0">
        <li class="text-center display-4 text-header">Our Stores</li>
      </ul>
    </div>
    <!-- end header -->

    <!-- Section với hình ảnh chạm mép trái -->
    <div class="container-fluid full-width-container">
      <div class="row g-0">
        <!-- Phần hình ảnh bên trái -->
        <div class="col-md-6 p-0">
          <div class="image-container">
            <img src="/image/store1.jpg" alt="Flower Shop Background" />
            <!-- Đường dẫn tới ảnh nền -->
          </div>
        </div>

        <!-- Phần thông tin bên phải -->
        <div class="col-md-6 p-4 d-flex flex-column justify-content-center">
          <div class="logo mx-auto"></div>
          <h1 class="text-center">The Flower Hutt</h1>
          <div class="info text-center">
            <p>So1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội</p>
            <p>Open 7am – 6pm</p>
            <p>7 Days a Week</p>
            <p>+84 988 888 888</p>
          </div>
          <div class="text-center">
            <a
              href="https://www.google.com/maps/search/hust/@21.0056677,105.8424678,18z/data=!3m1!4b1?hl=vi-VN&entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D"
              class="button"
              style="background-color: #c0c097"
              >Get Directions</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Section với hình ảnh bên phải chạm mép phai -->
    <div class="container-fluid full-width-container">
      <div class="row g-0 flex-column flex-md-row">
        <!-- Sử dụng flex-column cho màn hình nhỏ và flex-md-row cho màn hình lớn -->
        <!-- Phần thông tin bên trái cho màn hình lớn -->
        <div
          class="col-md-6 p-4 d-flex flex-column justify-content-center order-1 order-md-0"
        >
          <!-- Đặt thứ tự cho phần thông tin -->
          <div class="logo mx-auto"></div>
          <h1 class="text-center">The Flower Hutt</h1>
          <div class="info text-center">
            <p>So1 Dai Co Viet, Hai Ba Trung, Ha noi</p>
            <p>Open 7am – 6pm</p>
            <p>7 Days a Week</p>
            <p>+84 988 888 888</p>
          </div>
          <div class="text-center">
            <a
              href="https://www.google.com/maps/place/NEU/@21.0000991,105.8376283,17z/data=!3m1!4b1!4m6!3m5!1s0x3135adf92305abbb:0xec59870af725f4a5!8m2!3d21.0000942!4d105.8424992!16s%2Fg%2F11khgyxk5j?hl=vi-VN&entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D"
              class="button"
              target="_blank"
              style="background-color: #c0c097"
              >Get Directions</a
            >
          </div>
        </div>

        <!-- Phần hình ảnh bên phải cho màn hình lớn -->
        <div class="col-md-6 p-0 order-0 order-md-1">
          <!-- Đặt thứ tự cho phần hình ảnh -->
          <div class="image-container">
            <img src="/image/store2.webp" alt="Flower Shop Background" />
            <!-- Đường dẫn tới ảnh nền -->
          </div>
        </div>
      </div>
    </div>
    <!-- Section với hình ảnh chạm mép trái -->
    <div class="container-fluid full-width-container">
      <div class="row g-0">
        <!-- Phần hình ảnh bên trái -->
        <div class="col-md-6 p-0">
          <div class="image-container">
            <img src="/image/store3.jpg" alt="Flower Shop Background" />
            <!-- Đường dẫn tới ảnh nền -->
          </div>
        </div>

        <!-- Phần thông tin bên phải -->
        <div class="col-md-6 p-4 d-flex flex-column justify-content-center">
          <div class="logo mx-auto"></div>
          <h1 class="text-center">The Flower Hutt</h1>
          <div class="info text-center">
            <p>So1 Dai Co Viet, Hai Ba Trung, Ha noi</p>
            <p>Open 7am – 6pm</p>
            <p>7 Days a Week</p>
            <p>+84 988 888 888</p>
          </div>
          <div class="text-center">
            <a
              href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+Ngo%E1%BA%A1i+th%C6%B0%C6%A1ng/@21.023038,105.8028621,17z/data=!3m1!4b1!4m6!3m5!1s0x3135ab5d5161f909:0x4dafaf500ce22be3!8m2!3d21.023033!4d105.805437!16s%2Fm%2F02r1qvb?hl=vi-VN&entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              class="button"
              style="background-color: #c0c097"
              >Get Directions</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->

    <div th:insert="asset :: footer"></div>

    <!-- js -->
    <script src="/bootstrap.bundle.js"></script>
  </body>
</html>
